html
	head
		title= "Axone server"
	body
		h2= "Status: running"
		hr
		ul
			li= "uri: " + uri + ":" + port.bs
			li= "node: " + uri + ":" + port.node
			li= "mongo: " + mongo.uri + ":" + port.mongo + "/" + mongo.db

		